*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-section{
    height: 800px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.app-section .content{
    padding: 0 150px;
    width: 100%;
    height: 600px;
    background: url("./img/doa-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
}

.app-section .content .mobile{
    width: auto;
    height: 600px;
    margin-top: -120px;
}

.app-section .content .body{
    align-self: center;
    text-align: center;
}

.app-section .content .body h1{
    font-size: 65px;
    color: white;
    margin-bottom: 50px;
}
.app-section .content .body .links a{
    margin: 0 10px;
}

.app-section .content .body .links a img{
    height: 60px;
    width: auto;
}

@media only screen and (max-width: 1199px){
    .app-section{
        height: 600px;
    }
    
    .app-section .content{
        height: 400px;
        padding: 0 120px;
    }
    
    .app-section .content .mobile{
        height: 400px;
    }
    
    .app-section .content .body h1{
        font-size: 48px;
        margin-bottom: 30px;
    }
    
    .app-section .content .body .links a img{
        height: 50px;
    }
}


@media only screen and (max-width: 991px){
    .app-section{
        height: 500px;
    }
    
    .app-section .content{
        height: 300px;
        padding: 0 100px
    }
    
    .app-section .content .mobile{
        height: 300px;
        margin-top: -100px;
    }
    
    .app-section .content .body h1{
        font-size: 30px;
        margin-bottom: 22px;
    }
    
    .app-section .content .body .links a img{
        height: 30px;
    }
}


@media only screen and (max-width: 765px){
    .app-section{
        height: 600px;
    }
    
    .app-section .content{
        height: 400px;
        flex-direction: column;
        background-size: cover;
    }
    
    .app-section .content .mobile{
        align-self: center;
        height: 300px;
        width: 150px;
        margin-top: -100px;
    }

    .app-section .content .body{
        padding-bottom: 45px;
    }

    .app-section .content .body h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .app-section .content .body .links a img{
        height: 30px;
    }
}
